extends layout

block content
	br
	div(class="container")
		h2 Whatsapp Auto Followup by RUAS DIGITAL 
		br
		b Silakan Pilih Menu di atas untuk memulai menggunakan
		br
		br
		p 1. 
<<<<<<< HEAD
			a(href="/tutorial", target="_blank") Klik di sini 
			untuk membaca  Tutorial
		br
		p 2. 
			a(href="https://produk.ruasdigital.id",  target="_blank") Klik di sini 
=======
			a(href="/tutorial") Klik di sini 
			untuk membaca  Tutorial
		br
		p 2. 
			a(href="https://produk.ruasdigital.id") Klik di sini 
>>>>>>> b778027af5504d6ffe4fb8b234ed4e07bbbe4a07
			untuk menghubungi technical support
