extends layout

block content
	br
	div(class="container")
		Whatsapp Auto Followup by RUAS DIGITAL 
		Silakan Pilih Menu di atas untuk memulai menggunakan
		br
		br
		p 1. Klik di sini untuk membaca 
			a(href="/tutorial") Tutorial
		p 2. Klik di sini untuk menghubungi technical support
