doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body(class="login", class="w-75", style="justify-content:center; align-content:center; padding:10px; height:110vh")
    a(href="https://produk.ruasdigital.id/", target="_blank")
     img(class="mb-4 d-xl-none d-md-block", src="/wa/logo", width="100", height="52", style="display:block; position:absolute; top:20px; right:20px")
   div(class="d-none d-xl-block d-md-none")
     br
     a(href="https://produk.ruasdigital.id/",  target="_blank")
      img(class="mb-4", src="/wa/logo", width="100", height="52", style="display:block; top:20px; left:20px")
     h5 RUAS WA AUTO FOLLOWUP 
     p Selamat datang
     p Terimakasih telah membeli produk RUAS WA AUTO FOLLOWUP,
     p  Untuk dapat menggunakan aplikasi ini Anda harus membuat username dan password terlebih dahulu
   form(class="form-signin", action="/register", method="post")

       div(style="display:flex; justify-content:space-between; align-items:center; width:100%;")
         h1(class="h3 mb-3, font-weight-normal", style="display:block" ) KONFIGURASI
       br
       if status
         div(class="alert alert-danger",role="alert")
          i(class="fas fa-paper-plane m-2") 
          span #{message}
       b
        label(for="inputEmail" , class="sr-only") Buat Username
       input(type="text" ,id="inputEmail", class="form-control", placeholder="Username", name="username")

       b
        label(for="inputPassword" ,class="sr-only") Buat Password
       input(type="password", id="inputPassword", class="form-control", placeholder="Password", name="password", required)
       input(type="hidden", class="form-control", value="#{url}" placeholder="URL", name="domain")
       b
        label Kode Produk 
       i 
          a(href="https://produk.ruasdigital.id/",  target="_blank") kode produk dapat ditemukan di sini
       input(type="text" ,id="inputCode", class="form-control", placeholder="Kode Produk", name="product_code")
       b
        label Lisensi 
       i 
          a(href="https://produk.ruasdigital.id/", target="_blank") lisensi dapat ditemukan di sini
       input(type="text" ,id="inputLisensi", class="form-control", placeholder="Lisensi", name="lisensi")

       br
       button(class="btn btn-lg btn-primary w-100 btn-block", type="submit") Simpan
       p(class="mt-5 mb-3 text-muted") &copy; 2021-2022 


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(type="text/javascript").
      if (window.matchMedia('(max-width: 768px)').matches)
      {
          $('#login').css('width','100%')
          $('.form-signin').css('margin-top','190px')
          $('.form-signin').css('width','100%')
          $('.form-signin').css('padding','0px')
          $('.form-signin').css('border','none')
      } else {
          $('#login').css('width','40%')
          $('.form-signin').css('margin-top','0px')
      }


