extends layout

block content
	br
	div(class="container")
		iframe(class="w-100", style="border:none; height:600px" src="https://docs.google.com/document/d/e/2PACX-1vR7__DkuHygA-vTbc34DfCJZ-y6bsJKAIqftGMY9QBunaZCcG-iN129eKmb3cZLooHW3-znEYyMOclz/pub?embedded=true")